:root{
    /*Colores*/
    --warmBlack: #454545;
    --white: #FFFFFF;
    --light-black: #797676;
    --gradient-black: linear-gradient(145deg, #939393 10.24%, rgba(174, 174, 174, 0) 92.43%);
    --gray: #AEAEAECC;
    --light-gray: #C4C4C4;
}
/* --------------- */
/* Reset           */
/* --------------  */
/* https://piccalil.li/blog/a-modern-css-reset/ *
/*Box sizing*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* Reset Margins*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 400;
}
/* set up the body */
body{
    background-color: var(--warmBlack);
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
    color:var(--white);
    line-height: 1.5;
    min-height: 100vh;
    min-width: 320px;
    display: grid;
    grid-template-rows:78px 262px auto auto;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture{
    max-width: 100%;
    display: block;
}
/* make forms easier to work with */
input,
button,
textarea,
select{
    font:inherit
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ----------------- */
/* Utility classes   */
/* ------------------*/
 /* general */
 .flex{
    display: flex;
    gap: var(--gap, 1.6rem);
    align-items: center;
    justify-content: center;
}
.column{
    --gap:5rem;
    flex-direction: column;
}

/* ----------------- */
/* Custom classes   */
/* ------------------*/

.main-image div{
    width: 188px;
    height: 222px;
    border-radius:50px;
    background: var(--gradient-black);
    box-shadow:  8px 8px 18px #2a2a2a,
                -8px -8px 18px #606060;
}


.main-resume {
    text-align: center;
}